<h1><%= @form.name %> <small><%= link_to "Edit", edit_form_path(@form) %></small></h1>

<div class="row">
  <div class="col-md-4">
    <h3>Redirect</h3>
    <p><%= @form.redirect %></p>
  </div>
  <div class="col-md-4">
    <h3>Email</h3>
    <p><%= @form.email %></p>
  </div>
  <div class="col-md-4">
    <h3>Webhook</h3>
    <p><%= @form.webhook %></p>
  </div>
</div>

<h3>HTML</h3>
<pre><%= html_escape_once render("forms/code", form: @form) %></pre>

<div class="row">
  <div class="col-md-6">
    <h2>
      Submissions
      <span class="badge">
        <%= @submissions.count %>
      </span>
    </h2>
  </div>
  <div class="col-md-6 text-right">
    <%= link_to "Export to CSV", polymorphic_path([@form, :submissions], format: :csv) %>

    <%= link_to "View Trash", [:trash, @form] %>
  </div>
</div>

<hr>

<% if @submissions.any? %>
  <%= render @submissions %>

  <%= paginate @submissions %>
<% else %>
  <p>No submission for this form.</p>
<% end %>
